.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}

.navlink > a:hover {
    background-color: gray;
}

.navlinks > li:last-of-type {
    color: white;
    justify-content: flex-end;
}