#navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}

#navlink > a:hover {
    background-color: gray;
}

#navlink > li {
    float: left;
}

.nav-background {
    background-color: black;
}